.container {
    background-color: #1F1F1F;
    border-radius: 15px;
    display: flex;
    padding: 15px;
    max-width: 770px;
    gap: 10px;
    min-height:298px;
    max-height: 299px;
}

.imgContainer {
    height: 100%;
    width: 100%;
}

.imgContainer>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.controlContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 30%;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    
}

.checkingForRipeness{
    display: flex;
    justify-content: space-around;
    
}
.checkingForRipeness > div{
    font-weight: bold;
    font-size: 1.2rem;
}

.button {
    border-radius: 15px;
    background: #BB3636;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    height: 100px;
}
.button:hover{
    cursor: pointer;
    background: #e24e4e;
}
.button:active{
    background: #752020;
}

.harvestingButton{
    border-radius: 15px;
    background: #6BAE16;
    border: none;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
    height: 100px;
}

.no-image{
    border: solid;
    height: 100%;
    
    width: 400px;
  

}

@media (max-width:1024px) {
    .container {
        flex-direction: column;
        max-height: 100%;
        width: 100%;
        max-width: 690px;
    }
 
    
    .button {
        height: 50px;
    }
    .harvestingButton{
        height: 50px;
        font-size: 1.5rem;
    }
    .controlContainer{
        gap: 20px;
    }
    .no-image{
        border: solid;
        height: 300px;
        
        width: 100%;
      
    
    }
}


/* @media (min-width:1025px) and (max-height:756px) {
    .container {
        max-width: 650px;
        min-height:250px;
        max-height: 250px;
    }
    
} */


@media (min-width:1025px) and (max-height:756px) {
    .container {
        max-width: 600px;
        min-height:230px;
        max-height: 230px;
    }
    
}