/* 
@font-face {
  font-family: "LEE-TAE";
  src: url("./fonts/LEE_TAE_JOON.ttf");
} */

@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSansKR-Regular.ttf");
}

body{
  margin: 0;
  padding: 0;
  font-family: "NotoSans";
  background-color: #CFCFCF;
}


@media (min-width:1025px) {
  body{
    overflow:hidden; /*애니메이션 스크롤 방지*/
  }
  

}